[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
sympy = "*"
nose = "*"
ipykernel = "*"
openpyxl = "*"
pillow = "*"
ipympl = "*"
ipywidgets = "*"
seaborn = "*"

[requires]
python_version = "3.7"
